<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.bae2020.dao.BoardDao">

	<select id="findBoard" resultType="com.spring.bae2020.vo.BoardVo">
		select rc.*, prod.product_name 
		  from recommand rc
		 inner join product prod
		    on rc.product = prod.product_code
		 where 1=1
		  <if test="product != '전체'">
		   and rc.product =#{product}
		   </if>
		 order by #{sort} desc
		 limit #{startIdx},5; 
	</select>
	
	<insert id="insertBoard">
		insert into recommand value (default ,#{vo.mid} ,#{vo.product} ,#{vo.option_unit} ,#{vo.add_unit} ,#{vo.meat_unit} ,#{vo.price} ,#{vo.price_add} ,#{vo.price_meat} ,default, default);
	</insert>
	
	<select id="findBoardByIdx" resultType="com.spring.bae2020.vo.BoardVo">
		select * from board where idx=#{idx};
	</select>
</mapper>
























